*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle/
gradlew.bat
gradlew
app/src/main/java/com/google
screenshots/
app/release/
