<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2018 Balázs Péter
  ~
  ~ This file is part of Alien Player 4X.
  ~
  ~ Alien Player 4X is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Alien Player 4X is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Alien Player 4X.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thilian.se4x.robot.app">

    <application
        android:name="android.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NewGameActivity" android:noHistory="true"/>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.PlayerDetailsActivity" />
        <activity android:name=".activities.SettingsActivity"/>
        <activity android:name=".activities.SeenTechnologiesActivity"/>
        <activity android:name=".activities.AboutActivity"/>
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
    </application>

</manifest>